footer {
  margin-top: 120px;
  background-color: #f0f0f0;
  padding: 70px;
  display: flex;
  justify-content: space-evenly; }
  footer .row1 .col1 {
    display: flex;
    align-items: start;
    justify-content: center; }
    footer .row1 .col1 ul {
      font-family: 'Nunito Sans', sans-serif;
      list-style: none; }
      footer .row1 .col1 ul li {
        margin-top: 10px; }
        footer .row1 .col1 ul li .liTitle {
          color: #272727; }
        footer .row1 .col1 ul li a {
          text-decoration: none;
          color: #a0a0a0; }
          footer .row1 .col1 ul li a:hover {
            color: #272727; }
  footer .row1 .col2 {
    display: flex;
    align-items: start;
    justify-content: center; }
    footer .row1 .col2 ul {
      font-family: 'Nunito Sans', sans-serif;
      list-style: none; }
      footer .row1 .col2 ul li {
        margin-top: 5px;
        line-height: 30px; }
        footer .row1 .col2 ul li .liTitle {
          color: #272727; }
        footer .row1 .col2 ul li a {
          text-decoration: none;
          color: #a0a0a0; }
      footer .row1 .col2 ul .redesSociales {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        margin-top: 30px; }
        footer .row1 .col2 ul .redesSociales a i {
          color: #a0a0a0; }
          footer .row1 .col2 ul .redesSociales a i:hover {
            color: #272727; }
  footer .row1 .col3 {
    display: flex;
    align-items: start;
    justify-content: center; }
    footer .row1 .col3 ul {
      font-family: 'Nunito Sans', sans-serif;
      list-style: none; }
      footer .row1 .col3 ul li {
        margin-top: 10px; }
        footer .row1 .col3 ul li .liTitle {
          color: #272727; }
        footer .row1 .col3 ul li a {
          text-decoration: none;
          color: #a0a0a0; }
          footer .row1 .col3 ul li a:hover {
            color: #272727; }

header nav .navbar-brand {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600; }

header nav .nav-item {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400; }

.collectionSectionSidebar #sidebar {
  z-index: 1;
  position: fixed;
  width: 430px;
  height: 100%;
  left: -430px;
  background: #f0f0f0;
  transition: all 300ms linear; }
  .collectionSectionSidebar #sidebar .toggleBtn {
    position: absolute;
    left: 430px;
    height: 100%;
    width: 17px;
    background-color: orange;
    cursor: pointer;
    opacity: 0.8; }
    .collectionSectionSidebar #sidebar .toggleBtn span {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 22px;
      color: #1e1e1e;
      height: 100%; }
      .collectionSectionSidebar #sidebar .toggleBtn span i {
        color: white; }
  .collectionSectionSidebar #sidebar .sidebarForm {
    color: black;
    list-style: none;
    text-align: left;
    padding: 0px 30px;
    list-style: none;
    margin-top: 155px; }
    .collectionSectionSidebar #sidebar .sidebarForm .boxTitle h1 {
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 400;
      font-size: 1.5rem; }
    .collectionSectionSidebar #sidebar .sidebarForm button {
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 400; }

.collectionSectionSidebar #sidebar.active {
  left: 0px; }

.collectionSectionSidebar .form-control::placeholder {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400; }

.collectionSectionSidebar .form-control:required {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400; }

.inputFile {
  background-color: #eee;
  /* change the background color */
  border-radius: 10px;
  /* round the corners of the border */
  padding: 10px;
  /* add padding to the input */
  font-size: 15px;
  /* change the font size */
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400; }

.custom-file-input {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400; }

.custom-file-input input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400; }

.custom-file-input label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4px 20px;
  background-color: white;
  color: #5a5a5a;
  border-radius: 4px;
  border: 0.1px solid lightgrey;
  cursor: pointer;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400; }
  .custom-file-input label span {
    position: relative;
    right: 8px; }
  .custom-file-input label .btnUpload {
    background-color: white;
    font-size: 15px;
    position: relative;
    left: 7px;
    cursor: pointer;
    border-width: .1px;
    border-color: white;
    opacity: calc(.9); }
    .custom-file-input label .btnUpload:hover {
      background-color: #5a5a5a; }
    .custom-file-input label .btnUpload i {
      color: #5a5a5a; }

* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif; }

#sidebarShop {
  z-index: 1;
  position: fixed;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100%;
  background-color: whitesmoke;
  transition: all 0.5s ease-in-out; }
  #sidebarShop .sidebarShopInfo {
    width: 100%;
    height: auto;
    text-align: left;
    padding: 20px;
    margin-top: 90px; }
    #sidebarShop .sidebarShopInfo .boxTitle {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px; }
      #sidebarShop .sidebarShopInfo .boxTitle h3 {
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 800; }
      #sidebarShop .sidebarShopInfo .boxTitle span {
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 500;
        font-size: 1.2rem;
        color: black; }
        #sidebarShop .sidebarShopInfo .boxTitle span:hover {
          color: orange;
          cursor: pointer; }
    #sidebarShop .sidebarShopInfo .carritoSubtotal {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      #sidebarShop .sidebarShopInfo .carritoSubtotal h6 {
        padding: 20px 0px;
        font-family: 'Nunito Sans', sans-serif; }
      #sidebarShop .sidebarShopInfo .carritoSubtotal span {
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 800; }
    #sidebarShop .sidebarShopInfo .btnCheckout a {
      text-decoration: none; }
      #sidebarShop .sidebarShopInfo .btnCheckout a button {
        margin-bottom: 10px; }
        #sidebarShop .sidebarShopInfo .btnCheckout a button span {
          font-family: 'Nunito Sans', sans-serif;
          font-weight: 800;
          color: whitesmoke; }
  #sidebarShop .productoEnCarrito .carritoAll .carritoHr {
    width: 100%;
    height: 1px;
    background-color: black; }
  #sidebarShop .productoEnCarrito .carritoAll .carrito {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 90px;
    width: 400px;
    margin-top: 18px; }
    #sidebarShop .productoEnCarrito .carritoAll .carrito .infoCarrito {
      display: flex;
      flex-direction: row;
      line-height: 3px; }
      #sidebarShop .productoEnCarrito .carritoAll .carrito .infoCarrito .imgCarrito {
        width: 50px;
        height: 50px;
        margin-right: 20px; }
      #sidebarShop .productoEnCarrito .carritoAll .carrito .infoCarrito .txtCarrito .txtName {
        font-size: .9rem;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 800;
        color: black; }
      #sidebarShop .productoEnCarrito .carritoAll .carrito .infoCarrito .txtCarrito .txtArtist {
        font-size: .9rem;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 800;
        color: black; }
      #sidebarShop .productoEnCarrito .carritoAll .carrito .infoCarrito .txtCarrito .txtPrice {
        font-size: .9rem;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 800;
        color: black;
        text-decoration: none; }
      #sidebarShop .productoEnCarrito .carritoAll .carrito .infoCarrito .txtCarrito .txtType {
        font-size: .8rem;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 600;
        color: black; }
      #sidebarShop .productoEnCarrito .carritoAll .carrito .infoCarrito .btnCounter {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        position: relative;
        bottom: 4px; }
        #sidebarShop .productoEnCarrito .carritoAll .carrito .infoCarrito .btnCounter .btn {
          padding: 2px 4px;
          font-size: 8px; }
        #sidebarShop .productoEnCarrito .carritoAll .carrito .infoCarrito .btnCounter .counter {
          font-size: 15px; }
      #sidebarShop .productoEnCarrito .carritoAll .carrito .infoCarrito .btnEliminar {
        background-color: whitesmoke;
        border: none;
        font-size: 18px; }

#sidebarShop.active {
  right: 0; }

.indexMain .indexSectionPortada {
  width: 100%; }
  .indexMain .indexSectionPortada img {
    width: 100vw;
    height: 65vh; }

.indexMain .sectionClassicHits .txtTitle {
  font-size: 2.5rem;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
  color: #272727;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 100px; }

.indexMain .sectionClassicHits .txtSubTitle {
  text-align: center;
  font-size: 1rem;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  color: orange; }

.indexMain .sectionClassicHits .card {
  border-radius: 10px 10px 0 0;
  border-width: .1px;
  border-color: lightgray; }

.indexMain .sectionClassicHits .card-top .card-img-top {
  border-radius: 10px 10px 0px 0px; }

.indexMain .sectionClassicHits .card-top .btnAgregarCarrito {
  color: #454545;
  font-size: 12px;
  padding: 2px 4px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  border-radius: 0 0 10px 10px;
  border-width: .1px;
  border-color: lightgray;
  opacity: calc(.9); }
  .indexMain .sectionClassicHits .card-top .btnAgregarCarrito:hover {
    background-color: #3c813c;
    color: white; }

.indexMain .sectionClassicHits .card-body .cardTitle {
  display: flex;
  flex-direction: row; }
  .indexMain .sectionClassicHits .card-body .cardTitle .cardName {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    color: black; }

.indexMain .sectionClassicHits .card-body .cardArtist {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 500;
  color: black;
  line-height: 10px; }

.indexMain .sectionClassicHits .card-body .cardTxt {
  list-style: none;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: start;
  line-height: 2px; }
  .indexMain .sectionClassicHits .card-body .cardTxt .cardYear {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    color: #272727;
    font-size: .9rem; }
  .indexMain .sectionClassicHits .card-body .cardTxt .cardGenre {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    color: #272727;
    font-size: .9rem;
    word-spacing: 2px; }
  .indexMain .sectionClassicHits .card-body .cardTxt .cardKind {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    color: #272727;
    font-size: .9rem; }

.indexMain .sectionClassicHits .card-body .cardTxtPrice {
  list-style: none;
  text-align: left;
  flex-direction: column;
  justify-content: start;
  line-height: 2px; }
  .indexMain .sectionClassicHits .card-body .cardTxtPrice .cardPrice {
    display: flex;
    justify-content: end;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-style: italic;
    color: #272727;
    font-size: .9rem;
    text-decoration: line-through; }
  .indexMain .sectionClassicHits .card-body .cardTxtPrice .cardPriceOferta {
    display: flex;
    justify-content: end;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-style: italic;
    color: #272727;
    font-size: .6rem; }
  .indexMain .sectionClassicHits .card-body .cardTxtPrice .cardOferta {
    display: flex;
    justify-content: end;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #3c813c;
    font-size: 1rem; }

.sectionNewArrivals .txtTitle {
  font-size: 2.5rem;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
  color: #272727;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 100px; }

.sectionNewArrivals .txtSubTitle {
  text-align: center;
  font-size: 1rem;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  color: orange; }

.sectionNewArrivals .card {
  border-radius: 10px 10px 0 0;
  border-width: .1px;
  border-color: lightgray; }

.sectionNewArrivals .card-top .card-img-top {
  border-radius: 10px 10px 0px 0px; }

.sectionNewArrivals .card-top .btnAgregarCarrito {
  color: #454545;
  font-size: 12px;
  padding: 2px 4px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  border-radius: 0 0 10px 10px;
  border-width: .1px;
  border-color: lightgray;
  opacity: calc(.9); }
  .sectionNewArrivals .card-top .btnAgregarCarrito:hover {
    background-color: #3c813c;
    color: white; }

.sectionNewArrivals .card-body .cardTitle {
  display: flex;
  flex-direction: row; }
  .sectionNewArrivals .card-body .cardTitle .cardName {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    color: black; }

.sectionNewArrivals .card-body .cardArtist {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 500;
  color: black;
  line-height: 10px; }

.sectionNewArrivals .card-body .cardTxt {
  list-style: none;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: start;
  line-height: 2px; }
  .sectionNewArrivals .card-body .cardTxt .cardYear {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    color: #272727;
    font-size: .9rem; }
  .sectionNewArrivals .card-body .cardTxt .cardGenre {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    color: #272727;
    font-size: .9rem;
    word-spacing: 2px; }
  .sectionNewArrivals .card-body .cardTxt .cardKind {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    color: #272727;
    font-size: .9rem; }

.sectionNewArrivals .card-body .cardTxtPrice {
  list-style: none;
  text-align: left;
  flex-direction: column;
  justify-content: start;
  line-height: 2px; }
  .sectionNewArrivals .card-body .cardTxtPrice .cardPrice {
    display: flex;
    justify-content: end;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-style: italic;
    color: #272727;
    font-size: .9rem; }
  .sectionNewArrivals .card-body .cardTxtPrice .cardPriceOferta {
    display: flex;
    justify-content: end;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-style: italic;
    color: #272727;
    font-size: .6rem; }
  .sectionNewArrivals .card-body .cardTxtPrice .cardOferta {
    display: flex;
    justify-content: end;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-style: italic;
    color: #3c813c;
    font-size: .9rem; }

.contactMain {
  height: 100vh;
  padding: 5px; }

.collectionMain {
  height: 100%;
  padding: 5px; }
  .collectionMain .contendorTitleStyle {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    color: #272727;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 100px; }
  .collectionMain .boxIconsEvents {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    width: 100%;
    text-align: end; }
    .collectionMain .boxIconsEvents .btnClear {
      cursor: pointer;
      color: white;
      border-width: .1px;
      border-color: lightgray;
      opacity: calc(.9); }
      .collectionMain .boxIconsEvents .btnClear:hover {
        background-color: #ff3c3c;
        color: white; }
    .collectionMain .boxIconsEvents .btnAdd {
      cursor: pointer;
      opacity: 0.8;
      color: white;
      border-width: .1px;
      border-color: lightgray;
      opacity: calc(.9); }
      .collectionMain .boxIconsEvents .btnAdd:hover {
        background-color: orange;
        color: white; }
  .collectionMain .card {
    border-radius: 10px 10px 0 0;
    border-width: .1px;
    border-color: lightgray;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset; }
    .collectionMain .card .card-top .card-img-top {
      border-radius: 10px 10px 0 0;
      height: 280px;
      width: 100%; }
    .collectionMain .card .card-top .btnEliminar {
      color: #454545;
      font-size: 12px;
      padding: 2px 4px;
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 400;
      border-radius: 0 0 10px 10px;
      border-width: .1px;
      border-color: lightgray;
      opacity: calc(.9); }
      .collectionMain .card .card-top .btnEliminar:hover {
        background-color: #ff3c3c;
        color: white; }
    .collectionMain .card .card-body .cardTitle {
      display: flex;
      flex-direction: row; }
      .collectionMain .card .card-body .cardTitle .cardName {
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 700;
        color: black; }
    .collectionMain .card .card-body .cardArtist {
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 600;
      color: black;
      line-height: 10px; }
    .collectionMain .card .card-body .cardTxt {
      list-style: none;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: start;
      line-height: 2px; }
      .collectionMain .card .card-body .cardTxt .cardYear {
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 400;
        color: #272727;
        font-size: .9rem; }
      .collectionMain .card .card-body .cardTxt .cardGenre {
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 400;
        color: #272727;
        font-size: .9rem;
        word-spacing: 2px; }
      .collectionMain .card .card-body .cardTxt .cardKind {
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 400;
        color: #272727;
        font-size: .9rem; }
    .collectionMain .card .card-body .cardTxtPrice {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .collectionMain .card .card-body .cardTxtPrice .cardId {
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 400;
        color: #272727;
        font-size: .9rem; }
      .collectionMain .card .card-body .cardTxtPrice .cardPrice {
        display: flex;
        justify-content: end;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 400;
        font-style: italic;
        color: #272727; }

.shopMain {
  height: 100%;
  padding: 5px; }
  .shopMain .sectionShop .txtTitle {
    font-size: 3rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    color: #272727;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 150px; }
  .shopMain .sectionShop .card {
    border-radius: 10px 10px 0 0;
    border-width: .1px;
    border-color: lightgray;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset; }
    .shopMain .sectionShop .card .card-top .card-img-top {
      border-radius: 10px 10px 0px 0px; }
    .shopMain .sectionShop .card .card-top .btnAgregarCarrito {
      color: #454545;
      font-size: 12px;
      padding: 2px 4px;
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 400;
      border-radius: 0 0 10px 10px;
      border-width: .1px;
      border-color: lightgray;
      opacity: calc(.9); }
      .shopMain .sectionShop .card .card-top .btnAgregarCarrito:hover {
        background-color: #3c813c;
        color: white; }
    .shopMain .sectionShop .card .card-body .cardTitle {
      display: flex;
      flex-direction: row; }
      .shopMain .sectionShop .card .card-body .cardTitle .cardName {
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 700;
        color: black; }
    .shopMain .sectionShop .card .card-body .cardArtist {
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 500;
      color: black;
      line-height: 10px; }
    .shopMain .sectionShop .card .card-body .cardTxt {
      list-style: none;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: start;
      line-height: 2px; }
      .shopMain .sectionShop .card .card-body .cardTxt .cardYear {
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 400;
        color: #272727;
        font-size: .9rem; }
      .shopMain .sectionShop .card .card-body .cardTxt .cardGenre {
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 400;
        color: #272727;
        font-size: .9rem;
        word-spacing: 2px; }
      .shopMain .sectionShop .card .card-body .cardTxt .cardKind {
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 400;
        color: #272727;
        font-size: .9rem; }
    .shopMain .sectionShop .card .card-body .cardTxtPrice {
      list-style: none;
      text-align: left;
      flex-direction: column;
      justify-content: start;
      line-height: 2px; }
      .shopMain .sectionShop .card .card-body .cardTxtPrice .cardPrice {
        display: flex;
        justify-content: end;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 400;
        font-style: italic;
        color: #272727;
        font-size: .9rem; }
      .shopMain .sectionShop .card .card-body .cardTxtPrice .cardPriceOferta {
        display: flex;
        justify-content: end;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 400;
        font-style: italic;
        color: #272727;
        font-size: .6rem; }
      .shopMain .sectionShop .card .card-body .cardTxtPrice .cardOferta {
        display: flex;
        justify-content: end;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 400;
        font-style: italic;
        color: #3c813c;
        font-size: .9rem; }
  .shopMain #messageBox {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .shopMain #messageBox.show {
    display: block; }

.userMain {
  height: 87vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .userMain .boxTitle {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    color: #272727;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 160px; }
  .userMain .boxUsername {
    font-family: 'neueHaasMedium';
    color: #272727;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 0; }
  .userMain .labelUsername {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    color: #272727; }
  .userMain .containerDateStyle {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    color: #8d8d8d;
    justify-content: start;
    align-items: center;
    font-size: .8rem; }
  .userMain .textPlain1 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
    color: #272727;
    font-size: 1.2rem; }
  .userMain .textPlain2 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
    color: #272727;
    font-size: 1.2rem; }
  .userMain .btnLogin {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 1rem;
    padding: .5rem; }
  .userMain .form-control::placeholder {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400; }
  .userMain .form-control:required {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400; }

/*========== NEUEHASS ==========*/
/*========== NUNITO ==========*/
@font-face {
  font-family: 'ExtraLight200';
  src: url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap"); }

@font-face {
  font-family: 'ExtraLight200Italic';
  src: url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,200&display=swap"); }

@font-face {
  font-family: 'Light300';
  src: url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap"); }

@font-face {
  font-family: 'Light300Italic';
  src: url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,300&display=swap"); }

@font-face {
  font-family: 'Regular400';
  src: url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap"); }

@font-face {
  font-family: 'Regular400Italic';
  src: url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@1&display=swap"); }

@font-face {
  font-family: 'SemiBold600';
  src: url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap"); }

@font-face {
  font-family: 'SemiBold600Italic';
  src: url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,600&display=swap"); }

@font-face {
  font-family: 'Bold700';
  src: url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap"); }

@font-face {
  font-family: 'Bold700Italic';
  src: url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,700&display=swap"); }

@font-face {
  font-family: 'ExtraBold800';
  src: url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap"); }

@font-face {
  font-family: 'ExtraBold800Italic';
  src: url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,800&display=swap"); }

@font-face {
  font-family: 'Black900';
  src: url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@900&display=swap"); }

@font-face {
  font-family: 'Black900Italic';
  src: url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,900&display=swap"); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

.selector-for-some-widget {
  box-sizing: content-box; }

body {
  width: auto;
  margin: 0;
  padding: 0; }

.container-fluid {
  margin: 0;
  padding: 0;
  width: 100%; }

:root {
  font-size: 16px;
  font-family: 'Nunito Sans', sans-serif; }

.swal2-popup {
  font-size: .8rem !important;
  font-family: 'Nunito Sans', sans-serif;
  padding: 20px; }
