footer {
  margin-top: 120px;
  background-color: #f0f0f0;
  padding: 70px;
  display: flex;
  justify-content: space-evenly; }
  footer .row1 .col1 {
    display: flex;
    align-items: start;
    justify-content: center; }
    footer .row1 .col1 ul {
      list-style: none; }
      footer .row1 .col1 ul li {
        margin-top: 10px; }
        footer .row1 .col1 ul li .liTitle {
          color: #272727; }
        footer .row1 .col1 ul li a {
          text-decoration: none;
          color: #a0a0a0; }
          footer .row1 .col1 ul li a:hover {
            color: #272727; }
  footer .row1 .col2 {
    display: flex;
    align-items: start;
    justify-content: center; }
    footer .row1 .col2 ul {
      list-style: none; }
      footer .row1 .col2 ul li {
        margin-top: 5px;
        line-height: 30px; }
        footer .row1 .col2 ul li .liTitle {
          color: #272727; }
        footer .row1 .col2 ul li a {
          text-decoration: none;
          color: #a0a0a0; }
      footer .row1 .col2 ul .redesSociales {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        margin-top: 30px; }
        footer .row1 .col2 ul .redesSociales a i {
          color: #a0a0a0; }
          footer .row1 .col2 ul .redesSociales a i:hover {
            color: #272727; }
  footer .row1 .col3 {
    display: flex;
    align-items: start;
    justify-content: center; }
    footer .row1 .col3 ul {
      list-style: none; }
      footer .row1 .col3 ul li {
        margin-top: 10px; }
        footer .row1 .col3 ul li .liTitle {
          color: #272727; }
        footer .row1 .col3 ul li a {
          text-decoration: none;
          color: #a0a0a0; }
          footer .row1 .col3 ul li a:hover {
            color: #272727; }

.collectionSectionSidebar #sidebar {
  z-index: 1;
  position: fixed;
  width: 430px;
  height: 100%;
  left: -430px;
  background: #f0f0f0;
  transition: all 300ms linear; }
  .collectionSectionSidebar #sidebar .toggleBtn {
    position: absolute;
    left: 430px;
    height: 100%;
    width: 17px;
    background-color: orange;
    cursor: pointer;
    opacity: 0.8; }
    .collectionSectionSidebar #sidebar .toggleBtn span {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 22px;
      color: #1e1e1e;
      height: 100%; }
      .collectionSectionSidebar #sidebar .toggleBtn span i {
        color: white; }
  .collectionSectionSidebar #sidebar .sidebarForm {
    color: black;
    list-style: none;
    text-align: left;
    padding: 0px 30px;
    list-style: none;
    margin-top: 110px; }
    .collectionSectionSidebar #sidebar .sidebarForm .boxTitle h1 {
      font-size: 1.5rem; }
    .collectionSectionSidebar #sidebar .sidebarForm button {
      font-family: 'neueHaasRoman'; }

.collectionSectionSidebar #sidebar.active {
  left: 0px; }

.collectionSectionSidebar .form-control::placeholder {
  font-family: 'neueHaasLight'; }

.collectionSectionSidebar .form-control:required {
  font-family: 'neueHaasLight'; }

.inputFile {
  background-color: #eee;
  /* change the background color */
  border-radius: 10px;
  /* round the corners of the border */
  padding: 10px;
  /* add padding to the input */
  font-size: 15px;
  /* change the font size */
  font-family: 'neueHaasLight'; }

.custom-file-input {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-family: 'neueHaasLight'; }

.custom-file-input input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  font-family: 'neueHaasLight'; }

.custom-file-input label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4px 20px;
  background-color: white;
  color: #5a5a5a;
  border-radius: 4px;
  border: 0.1px solid lightgrey;
  cursor: pointer;
  font-family: 'neueHaasLight'; }
  .custom-file-input label span {
    position: relative;
    right: 8px; }
  .custom-file-input label .btnUpload {
    background-color: white;
    font-size: 15px;
    position: relative;
    left: 7px;
    cursor: pointer;
    border-width: .1px;
    border-color: white;
    opacity: calc(.9); }
    .custom-file-input label .btnUpload:hover {
      background-color: #5a5a5a; }
    .custom-file-input label .btnUpload i {
      color: #5a5a5a; }

.indexSectionPortada {
  width: 100%; }
  .indexSectionPortada img {
    width: 100vw;
    height: 65vh; }

.indexMain .featuredTitles {
  font-family: 'neueHaasMedium';
  color: #272727;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 100px; }

.indexMain .card {
  border-radius: 10px 10px 0 0;
  border-width: .1px;
  border-color: lightgray;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset; }
  .indexMain .card .card-top .card-img-top {
    border-radius: 10px 10px 0px 0px; }
  .indexMain .card .card-top .btnAgregarCarrito {
    color: #454545;
    font-size: 12px;
    padding: 2px 4px;
    font-family: 'neueHaasLight';
    border-radius: 0 0 10px 10px;
    border-width: .1px;
    border-color: lightgray;
    opacity: calc(.9); }
    .indexMain .card .card-top .btnAgregarCarrito:hover {
      background-color: #3c813c;
      color: white; }
  .indexMain .card .card-top .btnEliminar {
    color: #454545;
    font-size: 12px;
    padding: 2px 4px;
    font-family: 'neueHaasLight';
    border-radius: 0 0 10px 0;
    border-width: .1px;
    border-color: lightgray;
    opacity: calc(.9); }
    .indexMain .card .card-top .btnEliminar:hover {
      background-color: #ff3c3c;
      color: white; }
  .indexMain .card .card-body .cardTitle {
    display: flex;
    flex-direction: row; }
    .indexMain .card .card-body .cardTitle .cardName {
      font-family: 'neueHaasMedium';
      color: black; }
  .indexMain .card .card-body .cardArtist {
    font-family: 'neueHaasRoman';
    color: black;
    line-height: 10px; }
  .indexMain .card .card-body .cardTxt {
    list-style: none;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: start;
    line-height: 2px; }
    .indexMain .card .card-body .cardTxt .cardYear {
      font-family: 'neueHaasLight';
      color: #272727;
      font-size: .9rem; }
    .indexMain .card .card-body .cardTxt .cardGenre {
      font-family: 'neueHaasLight';
      color: #272727;
      font-size: .9rem;
      word-spacing: 2px; }
    .indexMain .card .card-body .cardTxt .cardKind {
      font-family: 'neueHaasLight';
      color: #272727;
      font-size: .9rem; }
  .indexMain .card .card-body .cardTxtPrice {
    list-style: none;
    text-align: left;
    flex-direction: column;
    justify-content: start;
    line-height: 2px; }
    .indexMain .card .card-body .cardTxtPrice .cardPrice {
      display: flex;
      justify-content: end;
      font-family: 'neueHaasLightItalic';
      color: #272727; }

.collectionMain {
  height: 100%; }
  .collectionMain .contendorStyle {
    font-family: 'neueHaasMedium';
    color: #272727;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 100px; }
  .collectionMain .boxIconsEvents {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    width: 100%;
    text-align: end; }
    .collectionMain .boxIconsEvents .btnClear {
      cursor: pointer;
      color: white;
      border-width: .1px;
      border-color: lightgray;
      opacity: calc(.9); }
      .collectionMain .boxIconsEvents .btnClear:hover {
        background-color: #ff3c3c;
        color: white; }
    .collectionMain .boxIconsEvents .btnAdd {
      cursor: pointer;
      opacity: 0.8;
      color: white;
      border-width: .1px;
      border-color: lightgray;
      opacity: calc(.9); }
      .collectionMain .boxIconsEvents .btnAdd:hover {
        background-color: orange;
        color: white; }
  .collectionMain .card {
    border-radius: 10px 10px 0 0;
    border-width: .1px;
    border-color: lightgray;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset; }
    .collectionMain .card .card-top .card-img-top {
      border-radius: 10px 10px 0 0;
      height: 280px;
      width: 100%; }
    .collectionMain .card .card-top .btnEliminar {
      color: #454545;
      font-size: 12px;
      padding: 2px 4px;
      font-family: 'neueHaasLight';
      border-radius: 0 0 10px 10px;
      border-width: .1px;
      border-color: lightgray;
      opacity: calc(.9); }
      .collectionMain .card .card-top .btnEliminar:hover {
        background-color: #ff3c3c;
        color: white; }
    .collectionMain .card .card-body .cardTitle {
      display: flex;
      flex-direction: row; }
      .collectionMain .card .card-body .cardTitle .cardName {
        font-family: 'neueHaasMedium';
        color: black; }
    .collectionMain .card .card-body .cardArtist {
      font-family: 'neueHaasRoman';
      color: black;
      line-height: 10px; }
    .collectionMain .card .card-body .cardTxt {
      list-style: none;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: start;
      line-height: 2px; }
      .collectionMain .card .card-body .cardTxt .cardYear {
        font-family: 'neueHaasLight';
        color: #272727;
        font-size: .9rem; }
      .collectionMain .card .card-body .cardTxt .cardGenre {
        font-family: 'neueHaasLight';
        color: #272727;
        font-size: .9rem;
        word-spacing: 2px; }
      .collectionMain .card .card-body .cardTxt .cardKind {
        font-family: 'neueHaasLight';
        color: #272727;
        font-size: .9rem; }
    .collectionMain .card .card-body .cardTxtPrice {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .collectionMain .card .card-body .cardTxtPrice .cardId {
        font-family: 'neueHaasLight';
        color: #272727;
        font-size: .9rem; }
      .collectionMain .card .card-body .cardTxtPrice .cardPrice {
        font-family: 'neueHaasLightItalic';
        color: #272727;
        font-size: .9rem; }

.shopMain {
  height: 100vh; }

.userMain {
  height: 87vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .userMain .boxTitle {
    font-family: 'neueHaasMedium';
    color: #272727;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 160px; }
  .userMain .boxUsername {
    font-family: 'neueHaasMedium';
    color: #272727;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 0; }
  .userMain .labelUsername {
    font-family: 'neueHaasRoman';
    color: #272727; }
  .userMain .containerDateStyle {
    font-family: 'neueHaasLight';
    color: #8d8d8d;
    justify-content: start;
    align-items: center;
    font-size: .8rem; }
  .userMain .textPlain1 {
    font-family: 'neueHaasRoman';
    color: #272727;
    font-size: 1.2rem; }
  .userMain .textPlain2 {
    font-family: 'neueHaasRoman';
    color: #272727;
    font-size: 1.2rem; }
  .userMain .btnLogin {
    font-family: 'neueHaasRoman';
    color: white;
    font-size: 1rem;
    padding: .5rem; }
  .userMain .form-control::placeholder {
    font-family: 'neueHaasRoman'; }
  .userMain .form-control:required {
    font-family: 'neueHaasRoman'; }

/*========== NEUEHASS ==========*/
@font-face {
  font-family: 'neueHaasBlack';
  src: url(../../assets/fonts/NeueHaasGroteskDisplayPro/NeueHaasDisplayBlack.ttf) format("truetype"); }

@font-face {
  font-family: 'neueHaasBold';
  src: url(../../assets/fonts/NeueHaasGroteskDisplayPro/NeueHaasDisplayBold.ttf) format("truetype"); }

@font-face {
  font-family: 'neueHaasMedium';
  src: url(../../assets/fonts/NeueHaasGroteskDisplayPro/NeueHaasDisplayMedium.ttf) format("truetype"); }

@font-face {
  font-family: 'neueHaasRoman';
  src: url(../../assets/fonts/NeueHaasGroteskDisplayPro/NeueHaasDisplayRoman.ttf) format("truetype"); }

@font-face {
  font-family: 'neueHaasRomanItalic';
  src: url(../../assets/fonts/NeueHaasGroteskDisplayPro/NeueHaasDisplayRomanItalic.ttf) format("truetype"); }

@font-face {
  font-family: 'neueHaasLight';
  src: url(../../assets/fonts/NeueHaasGroteskDisplayPro/NeueHaasDisplayLight.ttf) format("truetype"); }

@font-face {
  font-family: 'neueHaasLightItalic';
  src: url(../../assets/fonts/NeueHaasGroteskDisplayPro/NeueHaasDisplayLightItalic.ttf) format("truetype"); }

@font-face {
  font-family: 'neueHaasThin';
  src: url(../../assets/fonts/NeueHaasGroteskDisplayPro/NeueHaasDisplayThin.ttf) format("truetype"); }

@font-face {
  font-family: 'neueHaasXThin';
  src: url(../../assets/fonts/NeueHaasGroteskDisplayPro/NeueHaasDisplayXThin.ttf) format("truetype"); }

@font-face {
  font-family: 'neueHaasXXThin';
  src: url(../../assets/fonts/NeueHaasGroteskDisplayPro/NeueHaasDisplayXXThin.ttf) format("truetype"); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

.selector-for-some-widget {
  box-sizing: content-box; }

body {
  width: auto;
  margin: 0;
  padding: 0; }

.container-fluid {
  margin: 0;
  padding: 0;
  width: 100%; }

:root {
  font-size: 16px;
  font-family: 'neueHaasRoman'; }

.swal2-popup {
  font-size: .8rem !important;
  font-family: 'neueHaasRoman';
  padding: 20px; }
