@import 'abstracts/breakpoints';
@import 'abstracts/colors';
@import 'abstracts/extend';
@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/variables';

@import 'components/buttons';
@import 'components/carousel';

@import 'layout/footer';
@import 'layout/forms';
@import 'layout/grid';
@import 'layout/header';
@import 'layout/navBar';
@import 'layout/navigation';
@import 'layout/sideBar';

@import 'pages/index';
@import 'pages/collection';
@import 'pages/shop';
@import 'pages/user';

@import 'vendors/bootstrap';

@import 'base/fontFace';
@import 'base/reset';
@import 'base/settings';
@import 'base/typography';

@import 'queries/index';
@import 'queries/collection';
@import 'queries/shop';
@import 'queries/user';
