.collectionMain {
    height: 100%;

    .contendorTitleStyle {
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 800;
        color: rgb(39, 39, 39);
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        margin-top: 100px;
        // height: 100vh;
    }

    .boxIconsEvents {
        display: flex;
        flex-direction: row;
        align-items: end;
        justify-content: end;
        width: 100%;
        text-align: end;

        .btnClear {
            cursor: pointer;
            color: rgb(255, 255, 255);
            border-width: .1px;
            border-color: lightgray;
            opacity: calc(.9);

            &:hover {
                background-color: rgb(255, 60, 60);
                color: rgb(255, 255, 255);
            }
        }

        .btnAdd {
            cursor: pointer;
            opacity: (.8);
            color: rgb(255, 255, 255);
            border-width: .1px;
            border-color: lightgray;
            opacity: calc(.9);

            &:hover {
                background-color: orange;
                color: rgb(255, 255, 255);
            }
        }
    }

    .card {
        border-radius: 10px 10px 0 0;
        border-width: .1px;
        border-color: lightgray;
        box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;

        .card-top {
            .card-img-top {
                border-radius: 10px 10px 0 0;
                height: 280px;
                width: 100%;
            }

            .btnEliminar {
                color: rgb(69, 69, 69);
                font-size: 12px;
                padding: 2px 4px;
                font-family: 'Nunito Sans', sans-serif;
                font-weight: 400;
                border-radius: 0 0 10px 10px;
                border-width: .1px;
                border-color: lightgray;
                opacity: calc(.9);
                // background-color: rgb(140, 140, 140);

                // i {
                //     margin-top: 3px;
                // }

                &:hover {
                    background-color: rgb(255, 60, 60);
                    color: rgb(255, 255, 255);
                }
            }
        }


        .card-body {

            .cardTitle {
                display: flex;
                flex-direction: row;

                .cardName {
                    font-family: 'Nunito Sans', sans-serif;
                    font-weight: 700;
                    color: black;
                }
            }

            .cardArtist {
                font-family: 'Nunito Sans', sans-serif;
                font-weight: 600;
                color: black;
                line-height: 10px;
            }

            .cardTxt {
                list-style: none;
                text-align: left;
                display: flex;
                flex-direction: column;
                justify-content: start;
                line-height: 2px;

                .cardYear {
                    font-family: 'Nunito Sans', sans-serif;
                    font-weight: 400;
                    color: rgb(39, 39, 39);
                    font-size: .9rem;
                }

                .cardGenre {
                    font-family: 'Nunito Sans', sans-serif;
                    font-weight: 400;
                    color: rgb(39, 39, 39);
                    font-size: .9rem;
                    word-spacing: 2px;
                }

                .cardKind {
                    font-family: 'Nunito Sans', sans-serif;
                    font-weight: 400;
                    color: rgb(39, 39, 39);
                    font-size: .9rem;
                }
            }

            .cardTxtPrice {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .cardId {
                    font-family: 'Nunito Sans', sans-serif;
                    font-weight: 400;
                    color: rgb(39, 39, 39);
                    font-size: .9rem;
                }

                .cardPrice {
                    display: flex;
                    justify-content: end;
                    font-family: 'Nunito Sans', sans-serif;
                    font-weight: 400;
                    font-style: italic;
                    color: rgb(39, 39, 39);
                }

            }
        }

    }
}