.indexSectionPortada {
    width: 100%;

    img {
        width: 100vw;
        height: 65vh;
    }
}

.indexMain {

    .sectionClassicHits {
        .txtTitle {
            font-size: 2.5rem;
            font-family: 'Nunito Sans', sans-serif;
            font-weight: 800;
            color: rgb(39, 39, 39);
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            margin-top: 100px;
        }

        .txtSubTitle {
            text-align: center;
            font-size: 1rem;
            font-family: 'Nunito Sans', sans-serif;
            font-weight: 600;
            color: orange;
        }

        .card {
            border-radius: 10px 10px 0 0;
            border-width: .1px;
            border-color: lightgray;
            box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;

            .card-top {
                .card-img-top {
                    border-radius: 10px 10px 0px 0px;
                }

                .btnAgregarCarrito {
                    color: rgb(69, 69, 69);
                    font-size: 12px;
                    padding: 2px 4px;
                    font-family: 'Nunito Sans', sans-serif;
                    font-weight: 400;
                    border-radius: 0 0 10px 10px;
                    border-width: .1px;
                    border-color: lightgray;
                    opacity: calc(.9);
                    // background-color: rgb(140, 140, 140);

                    // i {
                    //     margin-top: 3px;
                    // }

                    &:hover {
                        background-color: rgb(60, 129, 60);
                        color: rgb(255, 255, 255);
                    }
                }
            }


            .card-body {

                .cardTitle {
                    display: flex;
                    flex-direction: row;

                    .cardName {
                        font-family: 'Nunito Sans', sans-serif;
                        font-weight: 700;
                        color: black;
                    }
                }

                .cardArtist {
                    font-family: 'Nunito Sans', sans-serif;
                    font-weight: 500;
                    color: black;
                    line-height: 10px;
                }

                .cardTxt {
                    list-style: none;
                    text-align: left;
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    line-height: 2px;

                    .cardYear {
                        font-family: 'Nunito Sans', sans-serif;
                        font-weight: 400;
                        color: rgb(39, 39, 39);
                        font-size: .9rem;
                    }

                    .cardGenre {
                        font-family: 'Nunito Sans', sans-serif;
                        font-weight: 400;
                        color: rgb(39, 39, 39);
                        font-size: .9rem;
                        word-spacing: 2px;
                    }

                    .cardKind {
                        font-family: 'Nunito Sans', sans-serif;
                        font-weight: 400;
                        color: rgb(39, 39, 39);
                        font-size: .9rem;
                    }
                }

                .cardTxtPrice {
                    list-style: none;
                    text-align: left;
                    // display: flex;
                    flex-direction: column;
                    justify-content: start;
                    line-height: 2px;

                    .cardPrice {
                        display: flex;
                        justify-content: end;
                        font-family: 'Nunito Sans', sans-serif;
                        font-weight: 400;
                        font-style: italic;
                        color: rgb(39, 39, 39);
                        font-size: .9rem;
                    }

                    .cardPriceOferta {
                        display: flex;
                        justify-content: end;
                        font-family: 'Nunito Sans', sans-serif;
                        font-weight: 400;
                        font-style: italic;
                        color: rgb(39, 39, 39);
                        font-size: .6rem;
                    }

                    .cardOferta {
                        display: flex;
                        justify-content: end;
                        font-family: 'Nunito Sans', sans-serif;
                        font-weight: 700;
                        font-style: italic;
                        color: rgb(60, 129, 60);
                        font-size: 1rem;
                    }
                }
            }
        }
    }

    .sectionNewArrivals {
        .txtTitle {
            font-size: 2.5rem;
            font-family: 'Nunito Sans', sans-serif;
            font-weight: 800;
            color: rgb(39, 39, 39);
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            margin-top: 100px;
        }

        .txtSubTitle {
            text-align: center;
            font-size: 1rem;
            font-family: 'Nunito Sans', sans-serif;
            font-weight: 600;
            color: orange;
        }

        .card {
            border-radius: 10px 10px 0 0;
            border-width: .1px;
            border-color: lightgray;
            box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;

            .card-top {
                .card-img-top {
                    border-radius: 10px 10px 0px 0px;
                }

                .btnAgregarCarrito {
                    color: rgb(69, 69, 69);
                    font-size: 12px;
                    padding: 2px 4px;
                    font-family: 'Nunito Sans', sans-serif;
                    font-weight: 400;
                    border-radius: 0 0 10px 10px;
                    border-width: .1px;
                    border-color: lightgray;
                    opacity: calc(.9);
                    // background-color: rgb(140, 140, 140);

                    // i {
                    //     margin-top: 3px;
                    // }

                    &:hover {
                        background-color: rgb(60, 129, 60);
                        color: rgb(255, 255, 255);
                    }
                }
            }


            .card-body {

                .cardTitle {
                    display: flex;
                    flex-direction: row;

                    .cardName {
                        font-family: 'Nunito Sans', sans-serif;
                        font-weight: 700;
                        color: black;
                    }
                }

                .cardArtist {
                    font-family: 'Nunito Sans', sans-serif;
                    font-weight: 500;
                    color: black;
                    line-height: 10px;
                }

                .cardTxt {
                    list-style: none;
                    text-align: left;
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    line-height: 2px;

                    .cardYear {
                        font-family: 'Nunito Sans', sans-serif;
                        font-weight: 400;
                        color: rgb(39, 39, 39);
                        font-size: .9rem;
                    }

                    .cardGenre {
                        font-family: 'Nunito Sans', sans-serif;
                        font-weight: 400;
                        color: rgb(39, 39, 39);
                        font-size: .9rem;
                        word-spacing: 2px;
                    }

                    .cardKind {
                        font-family: 'Nunito Sans', sans-serif;
                        font-weight: 400;
                        color: rgb(39, 39, 39);
                        font-size: .9rem;
                    }
                }

                .cardTxtPrice {
                    list-style: none;
                    text-align: left;
                    // display: flex;
                    flex-direction: column;
                    justify-content: start;
                    line-height: 2px;

                    .cardPrice {
                        display: flex;
                        justify-content: end;
                        font-family: 'Nunito Sans', sans-serif;
                        font-weight: 400;
                        font-style: italic;
                        color: rgb(39, 39, 39);
                        font-size: .9rem;
                    }

                    .cardPriceOferta {
                        display: flex;
                        justify-content: end;
                        font-family: 'Nunito Sans', sans-serif;
                        font-weight: 400;
                        font-style: italic;
                        color: rgb(39, 39, 39);
                        font-size: .6rem;
                    }

                    .cardOferta {
                        display: flex;
                        justify-content: end;
                        font-family: 'Nunito Sans', sans-serif;
                        font-weight: 400;
                        font-style: italic;
                        color: rgb(60, 129, 60);
                        font-size: .9rem;
                    }
                }
            }
        }
    }
}