.collectionSectionSidebar {
    #sidebar {
        z-index: 1;
        position: fixed;
        width: 430px;
        height: 100%;
        left: -430px;
        background: rgb(240, 240, 240);
        transition: all 300ms linear;

        .toggleBtn {
            position: absolute;
            left: 430px;
            height: 100%;
            width: 17px;
            background-color: orange;
            cursor: pointer;
            opacity: (.8);

            span {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-size: 22px;
                color: rgb(30, 30, 30);
                height: 100%;

                i {
                    color: white;
                }
            }
        }

        .sidebarForm {
            color: black;
            list-style: none;
            text-align: left;
            padding: 0px 30px;
            list-style: none;
            margin-top: 110px;

            .boxTitle {
                h1 {
                    font-size: 1.5rem;
                }
            }

            button {
                font-family: 'neueHaasRoman';
            }
        }
    }

    #sidebar.active {
        left: 0px;
    }

    .form-control::placeholder {
        font-family: 'neueHaasLight';
    }

    .form-control:required {
        font-family: 'neueHaasLight';
    }
}


.inputFile {
    background-color: #eee;
    /* change the background color */
    border-radius: 10px;
    /* round the corners of the border */
    padding: 10px;
    /* add padding to the input */
    font-size: 15px;
    /* change the font size */
    font-family: 'neueHaasLight';
}


.custom-file-input {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-family: 'neueHaasLight';
}

.custom-file-input input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    font-family: 'neueHaasLight';
}

.custom-file-input label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px 20px;
    background-color: white;
    color: rgb(90, 90, 90);
    border-radius: 4px;
    border: 0.1px solid lightgrey;
    cursor: pointer;
    font-family: 'neueHaasLight';

    span {
        position: relative;
        right: 8px;
    }

    .btnUpload {
        background-color: white;
        // padding: 4px 8px;
        font-size: 15px;
        position: relative;
        left: 7px;
        cursor: pointer;
        border-width: .1px;
        border-color: white;
        opacity: calc(.9);

        &:hover {
            background-color: rgb(90, 90, 90);
        }

        i {
            color: rgb(90, 90, 90);
        }
    }
}
