* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.selector-for-some-widget {
    box-sizing: content-box;
  }


  body{
    // height: 100vh;
    width: auto;
    margin: 0;
    padding: 0;
}

.container-fluid {
    margin: 0;
    padding: 0;
    width: 100%;
}

:root {
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
}


// body::-webkit-scrollbar {
//     width:0.5rem
// }

// body::-webkit-scrollbar-track {
//     background: blue;
// }

// body::-webkit-scrollbar-thumb {
//     background: grey;
// }

.swal2-popup {
    font-size: .8rem !important;
    font-family: 'Nunito Sans', sans-serif;
    padding: 20px;
  }
